<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=StyleSheet href="style.css">
    <meta name="author" content="Eva María Pérez Fernández">
    <title> PRACTICA 1 - EVA MARIA PEREZ</title>
  </head>

  <body background=fotoportada.JPG>
    <div class="header" align:"center">
      <h1> <i>OTROS</i></h1>
    </div>
    <div class="menu">
      <li><a href="./index.html">PORTADA</a></li>
      <li><a href="./pendientes.html">PENDIENTES</a></li>
      <li><a href="./pulseras.html">PULSERAS</a></li>
      <li><a href="./otros.html">OTROS</a></li>
      <li><a href="./deinteres.html">DE INTERÉS</a></li>
    </div>


    <div class="main">
      <div class="columnas">
          <img src="/Pcht6b.png" alt="otros" width="270" height="240">
          <p> Ref: ASOWuj </p>
          <p> PVP: 13,15€ </p>
        </a>
      </div>

      <div class="columnas">
          <img src="/BvoDeq.png" alt="otros" width="270" height="240">
          <p> Ref: BvoDeq </p>
          <p> PVP: 12,65€ </p>
        </a>
      </div>

      <div class="columnas">
          <img src="/marcapaginas.png" alt="otros" width="270" height="240">
          <p> Ref: MCTRwEO </p>
          <p> PVP: 11€ </p>
        </a>
      </div>


  </body>

</html>
