{% load staticfiles %}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=StyleSheet href="{% static 'style.css'%}">
    <meta name="author" content="Eva María Pérez Fernández">
    <title> PRACTICA 1 - EVA MARIA PEREZ</title>
  </head>
  <body background=/static/fotoportada.jpg>
    <div class="header" align:"center">
      <h1> <i>PENDIENTES</i></h1>
    </div>
    <div class="menu">
      <li><a href="./index.html">PORTADA</a></li>
      <li><a href="./pendientes.html">PENDIENTES</a></li>
      <li><a href="./pulseras.html">PULSERAS</a></li>
      <li><a href="./otros.html">OTROS</a></li>
    </div>

    <div class="main">
      <div class="columnas">
          <img src="/static/pendientes.png" alt="pendientes" width="270" height="240">
          <p> Nombre: {{product.nombre}} </p>
          <p> Precio: {{product.precio}}</p>
          <p> Stock: {{product.stock}} </p>
        </a>
      </div>



</body>
</html>
