{% load staticfiles %}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel=StyleSheet href="{% static 'style.css'%}">
    <meta name="author" content="Eva María Pérez Fernández">
    <title> PRACTICA 1 - EVA MARIA PEREZ</title>
  </head>
  <body background=/static/fotoportada.jpg>
    <div class="header" align:"center">
      <h1> <i>PULSERAS</i></h1>
    </div>
    <div class="menu">
      <li><a href="./index.html">PORTADA</a></li>
      <li><a href="./pendientes.html">PENDIENTES</a></li>
      <li><a href="./pulseras.html">PULSERAS</a></li>
      <li><a href="./otros.html">OTROS</a></li>
    </div>

    <div class="main">
      <div class="columnas">
          <img src="/static/ASOWuj.png" alt="pulseras" width="270" height="240">
          <p> Ref: ASOWuj </p>
          <p> PVP: 12,45€ </p>
        </a>
      </div>

      <div class="columnas">
          <img src="/static/80A267.png" alt="pulseras" width="270" height="240">
          <p> Ref: 80A267 </p>
          <p> PVP: 32,45€ </p>
        </a>
      </div>

      <div class="columnas">
          <img src="/static/MCTwEO.png" alt="pulseras" width="270" height="240">
          <p> Ref: MCTwEO </p>
          <p> PVP: 21€ </p>
        </a>
      </div>

      <div class="columnas">
          <img src="/static/2FdEVm.png" alt="pulseras" width="270" height="240">
          <p> Ref: 2FdEVm </p>
          <p> PVP: 15,60€ </p>
        </a>
      </div>

  </body>

</html>
